/* ---- reset ---- */ 
body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #b61924; background-image: url("https://image.ibb.co/gFsgBo/photo_1467810160588_c86c0deb5d16.jpg"); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

@import url('https://fonts.googleapis.com/css?family=Karla:700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,800,900&subset=latin-ext');

/* SASS / SCSS */

.bg-pos {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* SASS / SCSS END */

body {
    font-family: 'Nunito', sans-serif;
}
.hero {
    @extend .bg-pos;
    color: #fff;
    text-align: center;
    font-weight: bold;
    ul {
        list-style-type: none;
        font-size: 17px;
        letter-spacing: 3px;
    }
    li {
        padding-top: 10px;
    }
    .hero-center {
        padding: 22%;
    }
    .nav {
        padding: 30px 0 0 0;
        margin: 0 auto;
        width: 1200px;
    }
    h1 {
        letter-spacing: 5px;
        font-weight: 800;
    }
    a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        transition: .4s;
        &:hover {
            color: #DBC165;
        }
    }
}
.intro {
    text-align: center;
    padding: 6% 0;
    h4 {
        color: #DBC165;
        font-weight: bold;
    }
    p {
        color: #546069;
        font-size: 20px;
        padding-top: 20px;
    }
    a {
        color: #a38d35;
        transition: .4s;
        &:hover {
            color: #DBC165;
            text-decoration: none;
        }
    }
}
.interests {
    padding: 2% 0;
    background: url('https://image.ibb.co/hg5ru8/photo_1467685790346_20bfe73a81f0.jpg');
    background-attachment: fixed;
    @extend .bg-pos;
    h4 {
        padding: 20px 0;
        text-align: center;
        color: #fff;
        font-weight: bold;
    }
    ul {
        padding-top: 20px;
        text-align: left;
        font-size: 20px;
        color: #fff;
        line-height: 40px;
    }
}
.projects {
    padding: 3% 0;
    text-align: center;
    h4 { 
        color: #DBC165;
        font-weight: bold;
    }
    p {
        color: #546069;
        font-weight: bold;
        font-size: 20px;   
    }
    img, p {
        padding-top: 40px;
    }
    img {
        &:hover {
            cursor: pointer;
            transition: transform .9s;
            transform: scale(1.05);
        }
    }
}
.cv {
    padding: 3% 0;
    text-align: center;
    h4 { 
        color: #DBC165;
        font-weight: bold;
    }
    button {
        margin-top: 10%;
    }
}
.contact-map {
    text-align: center;
    padding: 3% 0;
    img {
        width: 60%;
        padding-top: 30px;
        &:hover {
            cursor: pointer;
            transition: transform .5s;
            transform: scale(1.15);
        }
    }
    h4 { 
        color: #DBC165;
        font-weight: bold;
    }
}
.contact-me {
    p {
        color: #546069;
        font-size: 18px;  
    }
    .email {
        color: #546069;
    }
}
.lower-info {
    p {
        text-align: center;
    }
}
.teaching {
    padding: 2% 0;
    h2 {
        padding: 5% 0;
    }
    h4 { 
        color: #DBC165;
        font-weight: bold;
    }
    p {
        color: #546069;
        font-size: 20px;
        line-height: 40px;   
    }
    button {
        margin: 60px 0 40px 0;
    }
}
.papers {
    padding: 2% 0 4% 0;
    h2 {
        padding: 3% 0;
        color: #DBC165;
    }
    p {
        font-size: 17px;
        padding: 10px;
    }
    button {
        margin: 60px 0 40px 0;
    }
}
.links {
    padding: 4% 0;
    h2 {
        padding: 1% 0;
    }
    h4 { 
        color: #DBC165;
        font-weight: bold;
        padding: 2% 0;
    }
    ul {
        color: #546069;
        font-size: 15px;
    }
    li {
        margin-left: 5%;
    }
    a {
        color: #a38d35;
        transition: .4s;
        &:hover {
            color: #DBC165;
            text-decoration: none;
        }
    }
    p {
        margin-left: 7%;
    }
    button {
        margin: 60px 0 0 0;
    }
}



/* MEDIA QUERIES */
/*
@media (min-width: 300px) and (max-width: 430px) { 
    body {
        text-align: center;
    }
    .hero .hero-center {
        padding: 70px;
    }
    .hero .btn-info {
        margin-top: 60px;
    }
    .hero ul li {
        padding: 5px;
    }
    .intro {
        background-size: auto;
    }
    .intro h4 {
        margin-top: 40px;
    }
    .design img {
        width: 100%;
        margin-bottom: 40px;
    }
    .community img {
        margin-bottom: 15px;
    }
    .newsletter h3 {
        padding-top: 100px;
        padding-bottom: 100px;
        font-size: 22px;
    }
    .newsletter .input-group {
        width: 150%;
        padding: 0;
        transform: translate(-30px,0);
    }
    .footer {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .footer h4 {
        padding: 20px;
    }
    .footer .btn-info {
        padding: 10px 25px;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 431px) and (max-width: 767px) {
    .hero img {
        width: 11%;
    }
    .intro .intro-inside {
        width: 70%;
    }
    .design img {
        width: 80%;
        transform: translate(50px,0);
    }
    .community img {
       margin: 0 auto;
       margin-bottom: 15px;
    }
    .newsletter .input-group {
        width: 100%;
        padding: 0;
    }
    .newsletter h3 {
        margin-bottom: 40px;
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
    .hero img {
        width: 12%;
    }
    .intro .intro-inside {
        width: 60%;
    }
    .design img {
        width: 50%;
        float: left;
        margin-right: 15px;
    }
    .community img {
       margin: 0 auto;
       margin-bottom: 15px;
    }
    .newsletter .input-group {
        width: 70%;
    }
    .footer-lower img {
        display: none;
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 
    .hero img {
        width: 7%;
    }
    .hero ul li {
        padding: 5px;
    }
    .intro .intro-inside {
        width: 60%;
    }
    .design img {
        width: 40%;
        float: left;
        margin-right: 55px;
    }
    .community img {
       margin: 0 auto;
       margin-bottom: 15px;
    }
    .newsletter .input-group {
        width: 70%;
    }
    .footer .container {
        width: 100%;
    }
    .footer-lower img {
        display: none;
    }  
}*/