/* ---- reset ---- */ 
body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #b61924; background-image: url("https://image.ibb.co/gFsgBo/photo_1467810160588_c86c0deb5d16.jpg"); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

@import url('https://fonts.googleapis.com/css?family=Karla:700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,800,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Courgette&subset=latin-ext');
/* SASS / SCSS */

.bg-pos {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* SASS / SCSS END */

body {
    font-family: 'Nunito', sans-serif;
}
.hero {
    @extend .bg-pos;
    color: #fff;
    text-align: center;
    font-weight: bold;
    ul {
        list-style-type: none;
        font-size: 17px;
        letter-spacing: 3px;
    }
    li {
        padding-top: 10px;
    }
    .hero-center {
        padding: 22%;
    }
    .quote {
        font-family: 'Courgette', cursive;
    }
    .nav {
        padding: 30px 0 0 0;
        margin: 0 auto;
        width: 1200px;
    }
    h1 {
        letter-spacing: 5px;
        font-weight: 800;
    }
    a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        transition: .4s;
        &:hover {
            color: #DBC165;
        }
    }
}
.intro {
    padding: 6% 0;
    h4 {
        color: #DBC165;
        font-weight: bold;
    }
    p {
        color: #546069;
        font-size: 20px;
        padding-top: 20px;
        text-align: left;
    }
    a {
        color: #a38d35;
        transition: .4s;
        &:hover {
            color: #DBC165;
            text-decoration: none;
        }
    }
    img {
        width: 70%;
    }
    .mobile-img {
        display: none;
    }
    .intro-center {
        padding-top: 5%;
    }
    .image-blurred-edge {
        background-image: url('http://alpha.uwb.edu.pl/mrk/mrk.2015.jpg');
        width: 450px;
        height: 450px;
        box-shadow: 0 0 8px 8px white inset;
    }
}
.interests {
    padding: 2% 0;
    background: url('https://image.ibb.co/hg5ru8/photo_1467685790346_20bfe73a81f0.jpg');
    background-attachment: fixed;
    @extend .bg-pos;
    h4 {
        padding: 20px 0;
        text-align: center;
        color: #fff;
        font-weight: bold;
    }
    ul {
        padding-top: 20px;
        text-align: left;
        font-size: 20px;
        color: #fff;
        line-height: 40px;
    }
}
.projects {
    padding: 3% 0;
    text-align: center;
    h4 { 
        color: #DBC165;
        font-weight: bold;
    }
    p {
        color: #546069;
        font-weight: bold;
        font-size: 20px;   
    }
    img, p {
        padding-top: 40px;
    }
    img {
        &:hover {
            cursor: pointer;
            transition: transform .9s;
            transform: scale(1.05);
        }
    }
}
.cv {
    padding: 3% 0;
    text-align: center;
    h4 { 
        color: #DBC165;
        font-weight: bold;
    }
    button {
        margin-top: 10%;
    }
}
.contact-map {
    text-align: center;
    padding: 3% 0;
    img {
        width: 60%;
        padding-top: 30px;
        &:hover {
            cursor: pointer;
            transition: transform .5s;
            transform: scale(1.15);
        }
    }
    h4 { 
        color: #DBC165;
        font-weight: bold;
    }
}
.contact-me {
    p {
        color: #546069;
        font-size: 18px;  
    }
    .email {
        color: #546069;
    }
}
.lower-info {
    p {
        text-align: center;
    }
}
.teaching {
    padding: 2% 0;
    h2 {
        padding: 5% 0;
    }
    h4 { 
        color: #DBC165;
        font-weight: bold;
    }
    p {
        color: #546069;
        font-size: 20px;
        line-height: 40px;   
    }
    button {
        margin: 60px 0 40px 0;
    }
}
.papers {
    padding: 2% 0 4% 0;
    h2 {
        padding: 3% 0;
        color: #DBC165;
    }
    p {
        font-size: 17px;
        padding: 10px;
    }
    button {
        margin: 60px 0 40px 0;
    }
}
.links {
    padding: 4% 0;
    h2 {
        padding: 1% 0;
    }
    h4 { 
        color: #DBC165;
        font-weight: bold;
        padding: 2% 0;
    }
    ul {
        color: #546069;
        font-size: 15px;
    }
    li {
        margin-left: 5%;
    }
    a {
        color: #a38d35;
        transition: .4s;
        &:hover {
            color: #DBC165;
            text-decoration: none;
        }
    }
    p {
        margin-left: 7%;
    }
    button {
        margin: 60px 0 0 0;
    }
}

/* MEDIA QUERIES */
@media (min-width: 300px) and (max-width: 430px) { 
    .hero .nav {
        padding-top: 35%;
    }
    .hero .nav li {
        margin-top: 25px;
    }
    .hero .hero-center {
        display: none;
    }
    .intro {
        margin-top: 50%;
    }
    .intro .intro-center {
        text-align: center;
    }
    .intro .intro-center p {
        text-align: center;
    }
    .intro .image-blurred-edge {
        display: none;
    }
    .intro .image-wrapper {
        margin-left: 0;
    }
    .intro .mobile-img {
        display: block;
        margin: 0 auto;
        padding-top: 10%;
    }
    .interests .interests-mobile {
        margin-left: 0;
    }
    .cv .mobile-btn {
        margin-left: 0;
    }
    .contact-map .mobile-map {
        width: 90%;
        padding: 10% 0;
    }
    .papers {
        margin-top: 50%;
    }
    .papers .mobile-button {
        margin: 0;
    }
    .teaching {
        margin-top: 50%;
        text-align: center;
        padding: 20px;
    }
    .teaching .mobile-center {
        margin: 0;
    }
    .links {
        margin-top: 50%;
    }
    .links .mobile-center {
        margin: 0;
    }
    .links li {
        margin-left: 30px;
    }

}
// Small devices (landscape phones, 576px and up)
@media (min-width: 431px) and (max-width: 767px) {
    
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
    
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 
    
}